body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 200;
}
.site-header {
  min-width: 100px;
  height: 300px;
  margin-bottom: 150px;
  padding-top: 38px;
  background: #847462 no-repeat center url("https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg?w=2000");
  background-size: cover;
  color: #ffffff;
}

ht{
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 45px;
  line-height: 20px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: left;
  }
.back-ht{
  padding-left: 40px;
  background-size: 35px;
  background-image: url("pngfind.com-band-aid-png-29393.png");
}
.container {
  width: auto;
  margin: 45px;
  padding: 0px;
}

.container p {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin: 0 5px;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
.text-link{
  color:#ffffff
}

.label{
  display: block;
  font-size: larger;
  color:#000000;
  padding: 5px;
}
 
.input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
}
.features {
  width: 100%;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto 100px;
  text-shadow: 0px 1px 0px #000000;
}
.features h1 {
  color: rgb(60, 81, 81);
}
.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(154, 209, 213);
  color: #ffffff;
}

.site-footer .con {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}
.btn{
  color: white;
  background-color: rgb(154, 209, 213);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}
 
.messages{
  display: flex;
  text-align: center;
  justify-content: center;
}
 
.error{
  display: block;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
} 

.table_a{
  text-align: left;
  text-shadow: 0px 1px 0px #000000;
  font-size: 20px;
  padding: 0 30px;
  margin: 0 5px;
}

.change{
  padding: 0 30px;
  color:rgb(255, 0, 0);
}



